# Virtual environment
.venv/

# Python
dist/
__pycache__/
*.py[cod]

# Javascript
js/node_modules/
js/test-results/

# Testing
.coverage
.pytest_cache/
temp/

# Emacs
*~

# VS Code
.vscode

# MacOS
.DS_store

# Drawing tools
*.bkp

# Marimo
__marimo__

# Build output
dist/
src/marimo_learn/static/
